Repository docdyhr/versiontracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-todos, check-version-consistency

Path conditions:
  check-todos: any of: \.py$
  check-version-consistency: any of: ^versiontracker/__init__.py$

fix: add missing aiohttp dependency for async test modules
  pyproject.toml
Due: none

improve: use pytest markers instead of manual test filters
  .github/workflows/release.yml
  .vscode/launch.json
  .vscode/settings.json
  conftest.py
  pyproject.toml
  tests/__init__.py
  versiontracker/cli.py
Due: check-todos

fix: resolve CI linting failures
  benchmarks/__init__.py
  examples/identity_py312.py
  tests/test_apps_extra.py
  tests/test_brew_candidates.py
  tests/test_integration.py
Due: check-todos

ci(release): refine workflows for artifact-based publish, non-blocking checks, and Homebrew PR flow
  .github/workflows/release-homebrew.yml
  .github/workflows/release.yml
Due: none

fix(release): address critical PR review feedback
  .github/workflows/release.yml
  versiontracker.rb
Due: none

fix(tests): use config.get() method instead of attribute access
  tests/test_config.py
Due: check-todos

fix(tests): inherit from unittest.TestCase and fix line length
  tests/test_config.py
Due: check-todos

fix(imports): resolve E402 import order issues in __main__.py
  versiontracker/__main__.py
Due: check-todos

fix(linting): resolve critical F401, F821, E402, E501 errors
  tests/test_utils.py
  versiontracker/apps/matcher.py
  versiontracker/enhanced_matching.py
  versiontracker/handlers/__init__.py
  versiontracker/utils.py
Due: check-todos

fix(tests): correct test expectations and imports
  tests/test_utils.py
Due: check-todos

fix: resolve all critical linting errors blocking CI/CD pipeline
  tests/test_profiling.py
  tests/test_ui.py
  tests/test_utils.py
  tools/docstring_analyzer.py
  tools/validate_ci_precommit.py
  versiontracker/utils.py
  versiontracker/version/__init__.py
Due: check-todos

fix: resolve additional linting errors in app_finder.py
  versiontracker/app_finder.py
Due: check-todos

fix: resolve additional B904, F401, UP046 linting errors
  versiontracker/app_finder.py
  versiontracker/async_network.py
  versiontracker/cache.py
  versiontracker/config.py
Due: check-todos

fix: resolve remaining B904, UP038, F401 linting errors
  versiontracker/async_network.py
  versiontracker/config.py
Due: check-todos

fix: resolve B904 exception chaining errors in export.py
  versiontracker/export.py
Due: check-todos

fix: resolve critical linting errors and complexity issues
  versiontracker/__main__.py
  versiontracker/advanced_cache.py
  versiontracker/export.py
  versiontracker/handlers/app_handlers.py
Due: check-todos

fix(ci): comprehensive pipeline health remediation
  versiontracker/__main__.py
  versiontracker/app_finder.py
  versiontracker/handlers/auto_update_handlers.py
  versiontracker/handlers/brew_handlers.py
  versiontracker/handlers/enhanced_auto_update_handlers.py
  versiontracker/handlers/filter_handlers.py
  versiontracker/handlers/outdated_handlers.py
  versiontracker/homebrew.py
  versiontracker/version.py
Due: check-todos

fix: resolve final whitespace and formatting errors
  versiontracker/app_finder.py
  versiontracker/handlers/auto_update_handlers.py
  versiontracker/handlers/brew_handlers.py
  versiontracker/handlers/enhanced_auto_update_handlers.py
  versiontracker/handlers/filter_handlers.py
  versiontracker/handlers/outdated_handlers.py
  versiontracker/homebrew.py
  versiontracker/version.py
Due: check-todos

fix: resolve final C901 complexity and type annotation errors
  versiontracker/profiling.py
  versiontracker/ui.py
  versiontracker/version/comparator.py
Due: check-todos

fix: apply ruff formatting to resolve CI lint check failures
  tools/docstring_analyzer.py
  versiontracker/app_finder.py
  versiontracker/export.py
  versiontracker/handlers/brew_handlers.py
  versiontracker/handlers/enhanced_auto_update_handlers.py
  versiontracker/handlers/outdated_handlers.py
Due: check-todos

fix: resolve major mypy type annotation errors to enable CI pipeline
  versiontracker/__init__.py
  versiontracker/advanced_cache.py
  versiontracker/apps/__init__.py
  versiontracker/apps/finder.py
  versiontracker/config.py
  versiontracker/enhanced_matching.py
  versiontracker/export.py
  versiontracker/handlers/utils_handlers.py
  versiontracker/homebrew.py
  versiontracker/menubar_app.py
  versiontracker/profiling.py
  versiontracker/ui.py
  versiontracker/utils.py
  versiontracker/version/__init__.py
Due: check-todos, check-version-consistency

fix: resolve critical mypy functional type errors
  versiontracker/app_finder.py
  versiontracker/apps/__init__.py
  versiontracker/async_homebrew_prototype.py
  versiontracker/enhanced_matching.py
  versiontracker/homebrew.py
  versiontracker/macos_integration.py
  versiontracker/ui.py
Due: check-todos

fix: clean up remaining mypy type annotations and unused ignore comments
  versiontracker/async_homebrew_prototype.py
  versiontracker/handlers/enhanced_auto_update_handlers.py
  versiontracker/handlers/macos_handlers.py
  versiontracker/handlers/outdated_handlers.py
  versiontracker/version_legacy.py
Due: check-todos

fix: resolve ruff import and type annotation formatting issues
  versiontracker/config.py
  versiontracker/ui.py
  versiontracker/version/__init__.py
  versiontracker/version_legacy.py
Due: check-todos

fix: apply final ruff formatting to resolve CI lint check
  versiontracker/app_finder.py
  versiontracker/apps/__init__.py
  versiontracker/apps/finder.py
  versiontracker/handlers/utils_handlers.py
  versiontracker/homebrew.py
  versiontracker/version_legacy.py
Due: check-todos

fix: resolve all remaining mypy strict mode errors
  versiontracker/async_homebrew.py
  versiontracker/async_homebrew_prototype.py
  versiontracker/async_network.py
  versiontracker/handlers/auto_update_handlers.py
  versiontracker/handlers/outdated_handlers.py
Due: check-todos

fix: configure mypy for consistent CI and local environments
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: none

fix: correct mypy disable-error-code syntax in CI
  .github/workflows/lint.yml
Due: none

fix: disable unused-ignore in CI mypy to handle environment differences
  .github/workflows/lint.yml
Due: none

fix: add asyncio marker to pytest configuration
  pyproject.toml
Due: none

fix: add pytest-asyncio dependency for async test support
  pyproject.toml
Due: none

fix: add pytest-asyncio dependency for async test support
  versiontracker/handlers/outdated_handlers.py
  versiontracker/version/__init__.py
Due: check-todos

CI: run workflows on all branches for push/PR; harden Codecov on forks
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/coverage.yml
  .github/workflows/lint.yml
  .github/workflows/security.yml
Due: none

CI: make Performance Testing run on PR/push with smoke job; gate heavy tests to schedule/dispatch
  .github/workflows/performance.yml
Due: none

CI: ensure 'Performance Testing' workflow runs on PR/push with a smoke job
  .github/workflows/performance.yml
Due: none
