Repository docdyhr/versiontracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-todos, check-version-consistency

Path conditions:
  check-todos: any of: \.py$
  check-version-consistency: any of: ^versiontracker/__init__.py$

fix: skip network tests in CI environments without brew
  tests/test_network_operations.py
Due: check-todos

fix: resolve VersionStatus enum mismatch and skip network tests in CI
  tests/test_network_operations.py
  versiontracker/version/__init__.py
Due: check-todos

fix: resolve all CI/CD pipeline issues and enum comparison problems
  README.md
  pyproject.toml
  versiontracker/version/__init__.py
Due: check-todos

fix: resolve final CI issues - python version consistency and dependency conflicts
  .github/workflows/performance.yml
  README.md
  constraints.txt
  requirements-dev.txt
Due: none

Fix: Resolve CI dependency conflict with types-psutil (#30)
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/lint.yml
  .github/workflows/performance.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  README.md
  constraints.txt
  pyproject.toml
  requirements-dev.txt
  tests/test_apps_new.py
  tests/test_brew_candidates.py
  tests/test_brew_installability.py
  tests/test_homebrew.py
  tests/test_integration.py
  tests/test_macos_integration.py
  tests/test_network_operations.py
  versiontracker/version/__init__.py
Due: check-todos

fix: resolve types-psutil version conflict for Security Analysis
  requirements-dev.txt
Due: none

docs: trigger Security Analysis for PR compliance
  requirements.txt
Due: none

test: add integration test framework and test plans
  tests/integration_test_plan.md
  tests/test_int_001_discovery.py
  tests/test_int_002_recommendation.py
  tests/test_int_003_matching.py
  tests/test_int_004_async_parity.py
Due: check-todos

feat: add async Homebrew prototype and deprecation utilities
  versiontracker/async_homebrew_prototype.py
  versiontracker/deprecation.py
Due: check-todos

refactor: migrate from blacklist to blocklist terminology
  CHANGELOG.md
  PHASE_1_3_SUMMARY.md
  README.md
  TODO.md
  final-verification.sh
  homebrew-api.md
  pyproject.toml
  resolve-branches.sh
  verify-branch-resolution.sh
  versiontracker.rb
  versiontracker/__main__.py
  versiontracker/cli.py
  versiontracker/config.py
  versiontracker/handlers/app_handlers.py
  versiontracker/handlers/auto_update_handlers.py
  versiontracker/version/__init__.py
Due: check-todos

fix: update security workflow for compatibility with newer tools
  .github/workflows/security.yml
Due: none

bump: version 0.7.0 release preparation
  CHANGELOG.md
  versiontracker.rb
  versiontracker/__init__.py
Due: check-todos, check-version-consistency

fix: handle None/Mock values in app handler blacklist/blocklist parameters
  tests/handlers/test_app_handlers.py
  versiontracker/handlers/app_handlers.py
Due: check-todos

fix: resolve CLI auto-update test failures in Python 3.13
  tests/test_cli_auto_updates.py
Due: check-todos

fix: update integration test assertion for blocklist terminology
  tests/test_auto_update_integration_flows.py
Due: check-todos

chore: prepare v0.7.0 release with async prototype and security fixes (#35)
  .github/workflows/security.yml
  CHANGELOG.md
  PHASE_1_3_SUMMARY.md
  README.md
  TODO.md
  final-verification.sh
  homebrew-api.md
  pyproject.toml
  requirements-dev.txt
  resolve-branches.sh
  tests/handlers/test_app_handlers.py
  tests/integration_test_plan.md
  tests/test_auto_update_integration_flows.py
  tests/test_cli_auto_updates.py
  tests/test_int_001_discovery.py
  tests/test_int_002_recommendation.py
  tests/test_int_003_matching.py
  tests/test_int_004_async_parity.py
  verify-branch-resolution.sh
  versiontracker.rb
  versiontracker/__init__.py
  versiontracker/__main__.py
  versiontracker/async_homebrew_prototype.py
  versiontracker/cli.py
  versiontracker/config.py
  versiontracker/deprecation.py
  versiontracker/handlers/app_handlers.py
  versiontracker/handlers/auto_update_handlers.py
  versiontracker/version/__init__.py
Due: check-todos, check-version-consistency

fix: resolve TruffleHog and Dependabot permission issues in Security workflow
  .github/workflows/security.yml
Due: none

Fix: Resolve TruffleHog and Dependabot permission issues in Security workflow (#36)
  .github/workflows/security.yml
Due: none

fix: resolve CI/CD release workflow issues for v0.7.1
  .github/workflows/ci.yml
  .github/workflows/release-homebrew.yml
  .github/workflows/release.yml
  CHANGELOG.md
  pyproject.toml
  versiontracker.rb
  versiontracker/__init__.py
Due: check-todos, check-version-consistency

fix: resolve PyPI naming conflict and CI/CD release issues
  .github/workflows/release.yml
  CHANGELOG.md
  PYPI_NAMING_FIX.md
  README.md
  pyproject.toml
  versiontracker.rb
Due: none

feat: update Homebrew formula with v0.7.1 SHA256 and correct repository URLs
  versiontracker.rb
Due: none

docs: update installation instructions to prioritize Homebrew tap distribution
  CHANGELOG.md
  README.md
Due: none

fix: simplify Homebrew formula to resolve virtualenv issues
  versiontracker.rb
Due: none

fix: add back essential dependencies with correct SHA256 hashes
  versiontracker.rb
Due: none

fix: optimize release workflow to resolve CI timeout issues
  .github/workflows/release.yml
Due: none

fix: remove dataclass slots parameter for Python 3.11 compatibility
  versiontracker/async_homebrew_prototype.py
  versiontracker/deprecation.py
Due: check-todos

fix: update minimum Python version to 3.10 for dependency compatibility
  pyproject.toml
Due: none

fix: remove Python 3.9 from CI and fix psutil dependency conflict
  .github/workflows/ci.yml
  constraints.txt
Due: none

fix: update ruff target version to py310 for consistency
  pyproject.toml
Due: none

fix: update README Python requirement to 3.10
  README.md
Due: none

fix: resolve release workflow issues preventing PyPI publishing
  README.md
  pyproject.toml
Due: none

fix: upgrade setuptools requirement for dynamic version support
  pyproject.toml
Due: none

fix: ensure setuptools>=64 for reliable CI/CD dynamic versioning
  .claude/README.md
  .claude/hooks.json
  CLAUDE_HOOKS_SETUP.md
Due: none

feat: version 0.8.0 release preparation
  CHANGELOG.md
  TODO.md
  versiontracker/__init__.py
Due: check-todos, check-version-consistency

fix: simplify package verification in release workflow
  .github/workflows/release.yml
Due: none

feat: rebrand PyPI package as homebrew-versiontracker
  .github/workflows/release.yml
  CHANGELOG.md
  pyproject.toml
Due: none

improve: use pytest markers instead of manual test filters
  .github/workflows/release.yml
Due: none

feat: add comprehensive CI/CD pipeline improvements
  .github/workflows/branch-protection.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  PYPI_SETUP.md
Due: none

fix: resolve CI/CD pipeline failures with comprehensive fixes
  .github/actions/setup-python-deps/action.yml
  .github/workflows/coverage.yml
  .github/workflows/performance.yml
  pyproject.toml
  tests/test_config.py
  tests/test_utils.py
  versiontracker/utils.py
Due: check-todos
