Repository docdyhr/versiontracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-todos, check-version-consistency

Path conditions:
  check-todos: any of: \.py$
  check-version-consistency: any of: ^versiontracker/__init__.py$

ci: Add actions language to CodeQL analysis
  .github/workflows/codeql-analysis.yml
Due: none

test: Add 93 coverage tests for error_handlers, async_homebrew, config, profiling
  tests/handlers/test_error_handlers_coverage.py
  tests/test_async_homebrew_coverage.py
  tests/test_config_validation_coverage.py
  tests/test_profiling_coverage.py
Due: check-todos

feat: Wire get_casks_with_auto_updates to async + fix affected tests
  tests/test_auto_updates.py
  versiontracker/async_homebrew.py
  versiontracker/homebrew.py
Due: check-todos

fix: Use mock instead of capsys for profiling print tests
  tests/test_profiling_coverage.py
Due: check-todos

fix: Replace all capsys with mock in profiling coverage tests
  tests/test_profiling_coverage.py
Due: check-todos

fix: Correct benchmarks import path in advanced CI/CD pipeline
  .github/workflows/advanced-ci.yml
Due: none

feat: Audit improvements — dead code, plugin CLI, test coverage, mypy/coverage config
  pyproject.toml
  tests/test_ai_module.py
  tests/test_apps_extra.py
  tests/test_apps_new_pytest.py
  tests/test_int_004_async_parity.py
  tests/test_ml_module.py
  versiontracker/__main__.py
  versiontracker/async_homebrew_prototype.py
  versiontracker/cli.py
Due: check-todos

fix: Resolve mypy type errors in AI module and restore ML ignore_errors
  pyproject.toml
  versiontracker/ai/__init__.py
Due: check-todos

fix: Add mypy ignore_errors for AI module to fix CI lint failures
  pyproject.toml
Due: none

fix: Use SequenceMatcher fallback in fuzzy matching when no library installed
  .github/workflows/advanced-ci.yml
  .github/workflows/coverage.yml
  .github/workflows/dependabot-auto-merge.yml
  tests/test_version_fuzzy.py
  versiontracker/enhanced_matching.py
  versiontracker/version/fuzzy.py
Due: check-todos

fix: CI/CD pipeline hardening and deduplication
  .github/workflows/advanced-ci.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/lint.yml
  .github/workflows/performance.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  tests/test_version_fuzzy.py
Due: check-todos

refactor: Consolidate CI/CD pipeline — merge workflows, add concurrency
  .github/workflows/advanced-ci.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/lint.yml
  .github/workflows/performance.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  README.md
  tests/test_project_consistency.py
Due: check-todos

fix: Pin TruffleHog to v3.93.8 (no major version tag available)
  .github/workflows/security.yml
Due: none

fix: Fuzzy matching fallback + CI/CD pipeline consolidation (#114)
  .github/workflows/advanced-ci.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/lint.yml
  .github/workflows/performance.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  README.md
  tests/test_project_consistency.py
  tests/test_version_fuzzy.py
  versiontracker/enhanced_matching.py
  versiontracker/version/fuzzy.py
Due: check-todos

docs/ci: Add test matrix badges, fix mypy consistency, add CodeQL concurrency
  .github/workflows/codeql-analysis.yml
  .github/workflows/lint.yml
  README.md
Due: none

docs/ci: Add test matrix badges, fix mypy consistency, add CodeQL concurrency (#115)
  .github/workflows/codeql-analysis.yml
  .github/workflows/lint.yml
  README.md
Due: none

fix: stabilisation P0-P5 — Homebrew cmd, progress config, CLI drift, exception narrowing
  README.md
  TODO.md
  tests/handlers/test_setup_handlers.py
  tests/test_homebrew_advanced.py
  tests/test_outdated_handlers.py
  versiontracker/apps/finder.py
  versiontracker/cli.py
  versiontracker/handlers/outdated_handlers.py
  versiontracker/handlers/setup_handlers.py
  versiontracker/homebrew.py
Due: check-todos

fix: stabilisation P0-P5 — Homebrew cmd, progress config, CLI drift, exception narrowing (#117)
  README.md
  TODO.md
  tests/handlers/test_setup_handlers.py
  tests/test_homebrew_advanced.py
  tests/test_outdated_handlers.py
  versiontracker/apps/finder.py
  versiontracker/cli.py
  versiontracker/handlers/outdated_handlers.py
  versiontracker/handlers/setup_handlers.py
  versiontracker/homebrew.py
Due: check-todos

docs: update TODO.md to reflect PR #117/#118 completions
  TODO.md
Due: none

docs: update TODO.md to reflect PR #117/#118 completions (#120)
  TODO.md
Due: none

fix: P3/P4/P5 — lazy config init, exception narrowing, CHANGELOG
  CHANGELOG.md
  conftest.py
  versiontracker/__main__.py
  versiontracker/config.py
Due: check-todos

test: add deferred integration tests for --no-progress and --export --output-file
  tests/test_integration.py
Due: check-todos

docs: tick off deferred P1/P2/P3/P5 TODO items
  TODO.md
Due: none

fix: P3/P4/P5 — lazy config init, exception narrowing, CHANGELOG (#121)
  CHANGELOG.md
  conftest.py
  versiontracker/__main__.py
  versiontracker/config.py
Due: check-todos

test: deferred integration tests for --no-progress and --export --output-file (#122)
  TODO.md
  tests/test_integration.py
Due: check-todos

chore: bump version 0.9.0 → 1.0.0, promote CHANGELOG [Unreleased] → [1.0.0]
  CHANGELOG.md
  TODO.md
  pyproject.toml
  versiontracker/__init__.py
Due: check-todos, check-version-consistency

test: unskip 12 test_ui.py tests, add coverage tests, fix thread-unsafe stdout pollution
  tests/handlers/test_brew_handlers_coverage.py
  tests/handlers/test_setup_handlers.py
  tests/handlers/test_utils_handlers.py
  tests/test_integration.py
  tests/test_outdated_handlers.py
  tests/test_ui.py
Due: check-todos

fix(deps): bump wheel >=0.44 → >=0.46.2 (CVE-2026-24049)
  pyproject.toml
Due: none

test: unskip 12 tests, add coverage tests, fix thread-unsafe stdout pollution
  tests/handlers/test_brew_handlers_coverage.py
  tests/handlers/test_setup_handlers.py
  tests/handlers/test_utils_handlers.py
  tests/test_integration.py
  tests/test_outdated_handlers.py
  tests/test_ui.py
Due: check-todos

fix(ci): register local tap before brew install in Homebrew formula test
  .github/workflows/release-homebrew.yml
Due: none

fix(ci): register local tap before brew install in formula test
  .github/workflows/release-homebrew.yml
Due: none

fix(ci): update sigstore action from @v3 to @v3.3.0
  .github/workflows/release.yml
Due: none

fix(ci): update sigstore action from @v3 to @v3.3.0 (#127)
  .github/workflows/release.yml
Due: none

fix(ci): add skip-existing to production PyPI publish step
  .github/workflows/release.yml
Due: none

fix(ci): add skip-existing to production PyPI publish step (#128)
  .github/workflows/release.yml
Due: none

fix(deps): bump black >=24.0 → >=26.3.1 (CVE-2026-32274)
  pyproject.toml
Due: none

fix(deps): bump black >=24.0 → >=26.3.1 (CVE-2026-32274) (#129)
  pyproject.toml
Due: none

docs: add CHANGELOG entry for v1.0.1 CI and security fixes
  CHANGELOG.md
Due: none

docs: add CHANGELOG entry for v1.0.1 CI and security fixes (#130)
  CHANGELOG.md
Due: none
