Repository docdyhr/versiontracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-todos, check-version-consistency

Path conditions:
  check-todos: any of: \.py$
  check-version-consistency: any of: ^versiontracker/__init__.py$

fix: resolve CI/CD pipeline failures and optimize configuration
  .bandit
  .github/workflows/ci.yml
  .github/workflows/security.yml
  versiontracker/config.py
  versiontracker/handlers/outdated_handlers.py
  versiontracker/handlers/utils_handlers.py
  versiontracker/ui.py
Due: check-todos

🚀 MAJOR: Complete technical debt cleanup - January 2025
  CHANGELOG.md
  TECHNICAL_DEBT_CLEANUP_COMPLETE_2025.md
  TECHNICAL_DEBT_STATUS_2025.md
  TODO.md
  versiontracker/config.py
  versiontracker/handlers/outdated_handlers.py
  versiontracker/handlers/utils_handlers.py
  versiontracker/ui.py
Due: check-todos

fix: Add Python 3.13 to CI test matrix to match supported versions
  .github/workflows/ci.yml
Due: none

fix: Resolve UI test failures in full test suite by improving monkey-patching
  tests/test_ui.py
Due: check-todos

release: Version 0.6.5 - Bug fixes and CI improvements
  CHANGELOG.md
  README.md
  pytest.xml
  tests/test_ui.py
  versiontracker/__init__.py
  versiontracker/handlers/utils_handlers.py
Due: check-todos, check-version-consistency

docs: Add release notes for version 0.6.5
  RELEASE_NOTES_0.6.5.md
Due: none

Fix project diagnostics: remove unused imports and suppress lazy loading warnings
  .github/workflows/ci.yml
  .gitignore
  pyproject.toml
  tests/test_ui.py
  versiontracker/__init__.py
Due: check-todos, check-version-consistency

🚀 MAJOR: Complete technical debt cleanup and complexity refactoring
  .bandit
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  ROADMAP.md
  TECHNICAL_DEBT_CLEANUP_COMPLETE_2025.md
  TECHNICAL_DEBT_STATUS_2025.md
  TODO.md
  constraints.txt
  pytest.xml
  tests/test_apps_coverage_converted.py
  versiontracker/config.py
  versiontracker/utils.py
  versiontracker/version.py
Due: check-todos

📚 Update documentation with technical debt cleanup achievements
  ROADMAP.md
  TECHNICAL_DEBT_CLEANUP_COMPLETE_2025.md
  TECHNICAL_DEBT_STATUS_2025.md
  TODO.md
  pytest.xml
  versiontracker/config.py
  versiontracker/utils.py
  versiontracker/version.py
Due: check-todos

feat: resolve critical technical debt - major complexity reduction and type safety fixes
  CHANGELOG.md
  TECHNICAL_DEBT_COMPLETION_REPORT_FEB_2025.md
  TODO.md
  pytest.xml
  versiontracker/apps.py
  versiontracker/config.py
  versiontracker/handlers/brew_handlers.py
  versiontracker/version.py
Due: check-todos

docs: Update TODO.md with current project status and immediate priorities
  TODO.md
  pytest.xml
  versiontracker/apps.py
  versiontracker/config.py
  versiontracker/version.py
Due: check-todos

fix: Address critical security vulnerabilities and technical debt
  pytest.xml
  versiontracker/__init__.py
  versiontracker/utils.py
Due: check-todos, check-version-consistency

docs: Complete security fixes and technical debt documentation
  SECURITY_FIXES_COMPLETED_2025.md
  TODO.md
Due: none

fix: Resolve 2 failing UI tests and achieve 100% test pass rate
  .pre-commit-config.yaml
  tests/test_ui.py
Due: check-todos

docs: Update documentation to reflect 100% test pass achievement
  SECURITY_FIXES_COMPLETED_2025.md
  TODO.md
Due: none

fix: Make UI tests robust against test state pollution - FINAL FIX
  tests/test_ui.py
Due: check-todos

fix: Skip problematic UI tests to achieve stable test suite
  tests/test_ui.py
Due: check-todos

style: Apply code formatting to test_ui.py
  tests/test_ui.py
Due: check-todos

refactor: reduce complexity in utils.py functions and fix diagnostic issues
  pytest.xml
  tests/test_ui.py
  tests/test_utils_comprehensive.py
  versiontracker/utils.py
Due: check-todos

chore: update pytest.xml test results
  pytest.xml
Due: none

docs: update project files to reflect completion of all complexity issues
  CHANGELOG.md
  README.md
  ROADMAP.md
  TODO.md
Due: none

feat: comprehensive technical debt reduction and code quality improvements
  CHANGELOG.md
  TODO.md
  requirements-dev.txt
  tests/test_advanced_cache.py
  versiontracker/apps.py
  versiontracker/config.py
  versiontracker/version.py
Due: check-todos

docs: Complete repository cleanup - remove 19 outdated tracking files
  .gitignore
  BADGE_FIXES.md
  CHANGELOG.md
  CICD_FIX_EXECUTIVE_SUMMARY.md
  CI_CD_IMPROVEMENTS.md
  CI_CD_PIPELINE_FIX_COMPLETE.md
  CI_CD_PIPELINE_UPGRADE_2024.md
  CI_FIX_STATUS.md
  CI_PRECOMMIT_COMPATIBILITY.md
  CLAUDE.md
  CODE_REVIEW_SUMMARY.md
  FINAL_BADGE_STATUS.md
  IMPROVEMENTS.md
  RELEASE.md
  RELEASE_NOTES_0.6.5.md
  ROADMAP.md
  SECURITY_FIXES_COMPLETED_2025.md
  TECHNICAL_DEBT_CLEANUP_2024.md
  TECHNICAL_DEBT_CLEANUP_COMPLETE_2025.md
  TECHNICAL_DEBT_COMPLETION_REPORT_FEB_2025.md
  TECHNICAL_DEBT_STATUS_2025.md
  TESTING.md
  TODO.md
  WORKFLOW_FIX_SUMMARY.md
  pytest.xml
Due: none

feat: enhance developer experience with comprehensive CI/CD and documentation improvements
  .github/dependabot.yml
  .github/workflows/performance.yml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  TODO.md
  docs/ARCHITECTURE.md
Due: none

feat: implement comprehensive macOS system integration with scheduling and notifications
  CHANGELOG.md
  README.md
  TODO.md
  tests/test_macos_integration.py
  versiontracker/__main__.py
  versiontracker/cli.py
  versiontracker/handlers/__init__.py
  versiontracker/handlers/macos_handlers.py
  versiontracker/handlers/outdated_handlers.py
  versiontracker/macos_integration.py
  versiontracker/menubar_app.py
Due: check-todos

feat: implement enhanced fuzzy matching with advanced algorithms and alias recognition
  CHANGELOG.md
  README.md
  TODO.md
  tests/test_enhanced_matching.py
  versiontracker/cli.py
  versiontracker/enhanced_matching.py
  versiontracker/handlers/outdated_handlers.py
  versiontracker/version.py
Due: check-todos

fix: resolve CI/CD pipeline issues and apply AI assistant best practices
  .pre-commit-config.yaml
  CLAUDE.md
  pyproject.toml
  pytest.xml
  tests/test_advanced_cache.py
  tests/test_macos_integration.py
  tests/test_outdated_handlers.py
  tools/validate_ci_precommit.py
  versiontracker/enhanced_matching.py
  versiontracker/handlers/README.md
Due: check-todos

fix: resolve CI/CD pipeline failures and update dependencies
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  constraints.txt
  pytest.xml
  requirements-dev.txt
Due: none

fix: resolve CI startup failures by removing Python 3.13 incompatibility
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: none

test: add minimal CI workflow to debug startup failures
  .github/workflows/ci-simple.yml
Due: none

fix: remove constraints file from CI to resolve startup failures
  .github/workflows/ci.yml
Due: none

feat: create working CI pipeline without constraints
  .github/workflows/ci-fixed.yml
  .github/workflows/ci-simple.yml
Due: none

fix: resolve CI pipeline failures - MyPy, dependencies, and platform issues
  requirements-dev.txt
  versiontracker/config.py
  versiontracker/handlers/macos_handlers.py
  versiontracker/handlers/outdated_handlers.py
  versiontracker/menubar_app.py
Due: check-todos

fix: add missing pip-audit dependency for security workflow
  requirements-dev.txt
Due: none

fix: resolve CI test failures by skipping brew detection in CI environments
  .github/workflows/ci-fixed.yml
  .github/workflows/ci.yml
  versiontracker/config.py
Due: check-todos

clean: remove temporary pytest.xml test artifact
  pytest.xml
Due: none

fix: remove Python 3.13 from classifiers to match CI matrix
  pyproject.toml
Due: none

style: apply pre-commit formatting to test file
  tests/test_additional_functions.py
Due: check-todos

fix: mock is_homebrew_available in cross-platform tests
  tests/test_brew_installability.py
  tests/test_integration.py
Due: check-todos

fix: correct test mocks for is_brew_cask_installable function
  tests/test_brew_installability.py
Due: check-todos
