Repository docdyhr/versiontracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-todos, check-version-consistency

Path conditions:
  check-todos: any of: \.py$
  check-version-consistency: any of: ^versiontracker/__init__.py$

fix: prevent KeyboardInterrupt test from failing CI
  tests/test_outdated_handlers.py
Due: check-todos

fix: properly handle KeyboardInterrupt exit code in CI workflows
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  tests/test_outdated_handlers.py
Due: check-todos

fix: Resolve CI/CD pipeline and badge issues (#66)
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  COMPLETION_SUMMARY.md
  RELEASE_COMPLETION_STATUS.md
Due: none

chore: remove temporary tracking files from repository
  CI_CD_STATUS.md
  DEVELOPMENT_RECOMMENDATIONS.md
  FINAL_IMPLEMENTATION_GUIDE.md
  HOMEBREW_RELEASE.md
  IMPLEMENTATION_SUMMARY.md
  PROJECT_REVIEW.md
  PYPI_NAMING_FIX.md
  PYPI_SETUP.md
  PYTEST_TIMEOUT_FIX.md
  RELEASE_0.8.0_SUMMARY.md
  REPOSITORY_STATUS.md
Due: none

chore: Remove temporary tracking files from repository (#67)
  CI_CD_STATUS.md
  DEVELOPMENT_RECOMMENDATIONS.md
  FINAL_IMPLEMENTATION_GUIDE.md
  HOMEBREW_RELEASE.md
  IMPLEMENTATION_SUMMARY.md
  PROJECT_REVIEW.md
  PYPI_NAMING_FIX.md
  PYPI_SETUP.md
  PYTEST_TIMEOUT_FIX.md
  RELEASE_0.8.0_SUMMARY.md
  REPOSITORY_STATUS.md
Due: none

fix: Replace failing release workflow badge with version badge
  README.md
Due: none

chore: Remove root-level shell scripts
  check-security-status.sh
  cleanup-workflow-branches.sh
  setup-branch-protection-enhanced.sh
  setup-branch-protection.sh
  setup-security-monitoring.sh
Due: none

docs: Move CLAUDE_HOOKS_SETUP.md to docs/
  docs/CLAUDE_HOOKS_SETUP.md
Due: none

fix: Use stdlib tomllib, add missing import
  tests/test_project_consistency.py
  versiontracker/plugins/__init__.py
Due: check-todos

docs: Add deprecation notice to version_legacy.py
  versiontracker/version_legacy.py
Due: check-todos

chore: Repository cleanup and improvements (#75)
  check-security-status.sh
  cleanup-workflow-branches.sh
  docs/CLAUDE_HOOKS_SETUP.md
  setup-branch-protection-enhanced.sh
  setup-branch-protection.sh
  setup-security-monitoring.sh
  tests/test_project_consistency.py
  versiontracker/plugins/__init__.py
  versiontracker/version_legacy.py
Due: check-todos

chore: Medium-term improvements and cleanup
  TODO.md
  pyproject.toml
  versiontracker/handlers/outdated_handlers.py
Due: check-todos

chore: Medium-term improvements and cleanup (#76)
  TODO.md
  pyproject.toml
  versiontracker/handlers/outdated_handlers.py
Due: check-todos

ci: Remove deprecated branch-protection workflow
  .github/workflows/branch-protection.yml
Due: none

ci: Remove deprecated branch-protection workflow (#77)
  .github/workflows/branch-protection.yml
Due: none

refactor: Consolidate CLI, add ML optional deps, improve docs
  CHANGELOG.md
  README.md
  TODO.md
  pyproject.toml
  tests/test_cli_auto_updates.py
  versiontracker/cli.py
  versiontracker/ml/__init__.py
  versiontracker/version_legacy.py
Due: check-todos

refactor: Consolidate CLI, add ML optional deps, improve docs (#79)
  CHANGELOG.md
  README.md
  TODO.md
  pyproject.toml
  tests/test_cli_auto_updates.py
  versiontracker/cli.py
  versiontracker/ml/__init__.py
  versiontracker/version_legacy.py
Due: check-todos

refactor: Week 1 quick wins - Remove Click, update status, improve docs
  CHANGELOG.md
  TODO.md
  constraints.txt
  docs/future_roadmap.md
  pyproject.toml
  requirements.txt
  versiontracker/__main__.py
Due: check-todos

test: Improve version_legacy.py coverage from 11% to 43% (4x increase)
  CHANGELOG.md
  tests/test_version_legacy_coverage.py
Due: check-todos

docs: Add comprehensive documentation to version_legacy parsing functions
  versiontracker/version_legacy.py
Due: check-todos

fix: Address PR review feedback - ML imports, docstrings, test assertions
  tests/test_version_legacy_coverage.py
  versiontracker/__main__.py
  versiontracker/version_legacy.py
Due: check-todos

fix: Update Advanced CI workflow to use master branch
  .github/workflows/advanced-ci.yml
Due: none

fix: Add type ignore comment for module attribute assignment
  versiontracker/version/__init__.py
Due: check-todos

fix: Use generic type ignore for module attribute assignment
  versiontracker/version/__init__.py
Due: check-todos

fix: Replace isort check with Ruff-based import sorting
  .github/workflows/advanced-ci.yml
Due: none

fix: Add explicit KeyboardInterrupt handler in handle_outdated_check
  tests/test_outdated_handlers.py
  versiontracker/handlers/outdated_handlers.py
Due: check-todos

ci: Temporarily disable Advanced CI/CD Pipeline workflow
  .github/workflows/advanced-ci.yml.disabled
Due: none

Weeks 1-2: Quick wins + version_legacy test coverage (11% → 43%) (#80)
  .github/workflows/advanced-ci.yml.disabled
  CHANGELOG.md
  TODO.md
  constraints.txt
  docs/future_roadmap.md
  pyproject.toml
  requirements.txt
  tests/test_outdated_handlers.py
  tests/test_version_legacy_coverage.py
  versiontracker/__main__.py
  versiontracker/handlers/outdated_handlers.py
  versiontracker/version/__init__.py
  versiontracker/version_legacy.py
Due: check-todos

fix: Resolve Advanced CI/CD Pipeline issues and re-enable workflow
  .bandit
  .github/workflows/advanced-ci.yml
  README.md
Due: none

fix: Address AI reviewer feedback for Advanced CI/CD Pipeline
  .github/workflows/advanced-ci.yml
Due: none

chore: Remove disabled workflow file and ignore Bandit reports
  .github/workflows/advanced-ci.yml.disabled
  .gitignore
Due: none

feat: Prepare package for PyPI publication as macversiontracker
  .github/workflows/publish-pypi.yml
  PUBLISHING.md
  README.md
  pyproject.toml
Due: none

fix: Resolve Advanced CI/CD Pipeline issues (#81)
  .bandit
  .github/workflows/advanced-ci.yml
  .github/workflows/publish-pypi.yml
  .gitignore
  PUBLISHING.md
  README.md
  pyproject.toml
Due: none

docs: Add Homebrew installation instructions
  README.md
Due: none

docs: Clarify installation options per Sourcery AI feedback
  README.md
Due: none

docs: Add Homebrew installation instructions (#82)
  README.md
Due: none

fix: Implement atomic cache writes to prevent JSON corruption
  CHANGELOG.md
  pyproject.toml
  tests/test_cache.py
  versiontracker/__init__.py
  versiontracker/cache.py
  versiontracker/version/__init__.py
Due: check-todos, check-version-consistency

fix: Implement atomic cache writes to prevent JSON corruption (#83)
  CHANGELOG.md
  pyproject.toml
  tests/test_cache.py
  versiontracker/__init__.py
  versiontracker/cache.py
  versiontracker/version/__init__.py
Due: check-todos, check-version-consistency

fix: Filter out already-installed casks from recommendations
  versiontracker/handlers/brew_handlers.py
Due: check-todos
