Repository docdyhr/versiontracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-todos, check-version-consistency

Path conditions:
  check-todos: any of: \.py$
  check-version-consistency: any of: ^versiontracker/__init__.py$

docs: update README for v1.0.0 production release
  README.md
Due: none

docs: update README for v1.0.0 production release (#131)
  README.md
Due: none

fix(deps): bump aiohttp >=3.9.0 → >=3.13.4, align black line-length, add coverage tests
  pyproject.toml
  tests/test_comparator_coverage.py
  tests/test_finder_new_coverage.py
Due: check-todos

fix(deps+tests): bump aiohttp >=3.13.4, align black/ruff line-length, add 96 coverage tests
  pyproject.toml
  tests/test_comparator_coverage.py
  tests/test_finder_new_coverage.py
Due: check-todos

test: fix flaky e2e tests and add exceptions/error_codes coverage
  tests/test_end_to_end_integration.py
  tests/test_exceptions_and_error_codes.py
Due: check-todos

test: relax large dataset performance threshold and ignore coverage.json
  .gitignore
  tests/test_integration.py
Due: check-todos

fix: flaky e2e tests, performance threshold, aiohttp/coverage improvements (#134)
  .gitignore
  tests/test_end_to_end_integration.py
  tests/test_exceptions_and_error_codes.py
  tests/test_integration.py
Due: check-todos

test: fix concurrent test — mock handler's local import, not source module
  tests/test_end_to_end_integration.py
Due: check-todos

test: fix concurrent test — mock handler's local import, not source module (#135)
  tests/test_end_to_end_integration.py
Due: check-todos

test: fix two more flaky e2e tests with proper handler-level mocks
  tests/test_end_to_end_integration.py
Due: check-todos

test: fix two more flaky e2e tests with proper handler-level mocks (#136)
  tests/test_end_to_end_integration.py
Due: check-todos

test: fix flaky concurrent e2e test — move sys.argv patch outside threads
  .python-version
  tests/test_end_to_end_integration.py
Due: check-todos

test: fix flaky concurrent e2e test — move sys.argv patch outside threads (#144)
  .python-version
  tests/test_end_to_end_integration.py
Due: check-todos

deps: sync requirements files with pyproject.toml and add missing termcolor
  pyproject.toml
  requirements-dev.txt
  requirements-py313.txt
  requirements.txt
Due: none

fix(ui): match fallback colored/cprint signatures to termcolor's actual types
  versiontracker/ui.py
Due: check-todos

deps: sync requirements files and add missing termcolor dependency (#145)
  pyproject.toml
  requirements-dev.txt
  requirements-py313.txt
  requirements.txt
  versiontracker/ui.py
Due: check-todos

docs: update CHANGELOG and TODO for PR #145 and current project state
  CHANGELOG.md
  TODO.md
Due: none

docs: update CHANGELOG and TODO for PR #145 and current project state (#146)
  CHANGELOG.md
  TODO.md
Due: none

test: coverage push — __init__ lazy imports, config error paths, enhanced matching
  tests/test_config_gaps.py
  tests/test_enhanced_matching_coverage.py
  tests/test_module_lazy_imports.py
Due: check-todos

test: coverage push from ~78% to 86.23% — lazy imports, config errors, enhanced matching (#147)
  tests/test_config_gaps.py
  tests/test_enhanced_matching_coverage.py
  tests/test_module_lazy_imports.py
Due: check-todos

chore: ignore .claude/ directory
  .gitignore
Due: none

chore: ignore .claude/ directory in gitignore (#159)
  .gitignore
Due: none

chore(ci): migrate dependabot-auto-merge to reusable caller
  .github/workflows/dependabot-auto-merge.yml
Due: none

chore(ci): migrate dependabot-auto-merge to reusable caller (#160)
  .github/workflows/dependabot-auto-merge.yml
Due: none

fix(ci): target main branch and add explicit workflow permissions
  .github/workflows/ci.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/lint.yml
  .github/workflows/performance.yml
  .github/workflows/security.yml
Due: none

chore: release v1.0.1
  CHANGELOG.md
  README.md
  pyproject.toml
  versiontracker/__init__.py
Due: check-todos, check-version-consistency

fix(ci): fix release workflow failures on retry and cross-repo push
  .github/workflows/release-homebrew.yml
  .github/workflows/release.yml
Due: none

chore: add Railway deploy badge to README
  README.md
Due: none

fix(security): patch AppleScript injection and path traversal; add parser tests
  .github/workflows/coverage.yml
  CHANGELOG.md
  tests/test_version_parser.py
  versiontracker/macos_integration.py
  versiontracker/ui.py
Due: check-todos

fix(security): patch AppleScript injection and path traversal; add parser tests (#175)
  .github/workflows/coverage.yml
  CHANGELOG.md
  tests/test_version_parser.py
  versiontracker/macos_integration.py
  versiontracker/ui.py
Due: check-todos

fix(deps): bump aiohttp to >=3.14.0 (CVE-2026-34993, CVE-2026-47265)
  constraints.txt
  pyproject.toml
  requirements-py313.txt
  requirements.txt
Due: none

fix(ci): fail-fast with clear error when TAP_PAT secret is missing
  .github/workflows/release-homebrew.yml
Due: none

fix(deps): bump aiohttp to >=3.14.0 (CVE-2026-34993, CVE-2026-47265) (#181)
  .github/workflows/release-homebrew.yml
  constraints.txt
  pyproject.toml
  requirements-py313.txt
  requirements.txt
Due: none

fix(ci): use TAP_PAT and explicit remote URL in Homebrew push step
  .github/workflows/release-homebrew.yml
Due: none

chore: add MIT license; remove duplicate schedule from dependabot-auto-merge
  .github/workflows/dependabot-auto-merge.yml
Due: none

chore: add MIT license; remove duplicate dependabot-auto-merge schedule
  .github/workflows/dependabot-auto-merge.yml
Due: none

docs: reconcile metrics, fix skip table, add Known Limitations
  CHANGELOG.md
  README.md
  TODO.md
Due: none

feat: complete P4 exception narrowing; add Advanced Features docs
  CHANGELOG.md
  README.md
  TODO.md
  tests/handlers/test_app_handlers.py
  tests/handlers/test_config_handlers.py
  tests/handlers/test_filter_handlers.py
  tests/handlers/test_setup_handlers.py
  versiontracker/handlers/app_handlers.py
  versiontracker/handlers/config_handlers.py
  versiontracker/handlers/filter_handlers.py
  versiontracker/handlers/setup_handlers.py
Due: check-todos

feat: integration tests, perf regression gate, 85% coverage threshold
  .github/workflows/coverage.yml
  .github/workflows/performance.yml
  CHANGELOG.md
  CONTRIBUTING.md
  scripts/compare_performance.py
  tests/integration/__init__.py
  tests/integration/test_cli_workflows.py
  versiontracker/handlers/config_handlers.py
Due: check-todos
