Repository docdyhr/versiontracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-todos, check-version-consistency

Path conditions:
  check-todos: any of: \.py$
  check-version-consistency: any of: ^versiontracker/__init__.py$

fix: correct rate-limiting semantics across sync and async Homebrew paths (#254)
  CHANGELOG.md
  tests/handlers/test_brew_handlers_coverage.py
  tests/test_async_homebrew.py
  tests/test_async_network.py
  tests/test_brew_candidates.py
  tests/test_cli.py
  tests/test_finder_new_coverage.py
  versiontracker/apps/finder.py
  versiontracker/async_homebrew.py
  versiontracker/async_network.py
  versiontracker/cli.py
  versiontracker/handlers/brew_handlers.py
  versiontracker/utils.py
Due: check-todos

fix: standardize Config access to use .get() instead of getattr/hasattr
  CHANGELOG.md
  tests/handlers/test_filter_handlers.py
  tests/test_async_parity.py
  tests/test_finder_coverage.py
  tests/test_finder_new_coverage.py
  tests/test_homebrew.py
  tests/test_homebrew_advanced.py
  tests/test_matcher_coverage.py
  tests/test_outdated_handlers.py
  tests/test_plugins.py
  tests/test_version_batch.py
  versiontracker/ai/__init__.py
  versiontracker/apps/finder.py
  versiontracker/apps/matcher.py
  versiontracker/async_network.py
  versiontracker/handlers/filter_handlers.py
  versiontracker/handlers/outdated_handlers.py
  versiontracker/homebrew.py
  versiontracker/plugins/__init__.py
  versiontracker/version/batch.py
Due: check-todos

fix: standardize Config access to use .get() instead of getattr/hasattr (#255)
  CHANGELOG.md
  tests/handlers/test_filter_handlers.py
  tests/test_async_parity.py
  tests/test_finder_coverage.py
  tests/test_finder_new_coverage.py
  tests/test_homebrew.py
  tests/test_homebrew_advanced.py
  tests/test_matcher_coverage.py
  tests/test_outdated_handlers.py
  tests/test_plugins.py
  tests/test_version_batch.py
  versiontracker/ai/__init__.py
  versiontracker/apps/finder.py
  versiontracker/apps/matcher.py
  versiontracker/async_network.py
  versiontracker/handlers/filter_handlers.py
  versiontracker/handlers/outdated_handlers.py
  versiontracker/homebrew.py
  versiontracker/plugins/__init__.py
  versiontracker/version/batch.py
Due: check-todos

fix: wire dead CLI options and eliminate export-stdout corruption
  CHANGELOG.md
  tests/handlers/test_app_handlers.py
  tests/handlers/test_brew_handlers_coverage.py
  tests/handlers/test_export_handlers.py
  tests/handlers/test_setup_handlers.py
  tests/handlers/test_utils_handlers.py
  tests/integration/test_cli_workflows.py
  tests/test_cli.py
  tests/test_export.py
  tests/test_int_002_recommendation.py
  tests/test_int_003_matching.py
  tests/test_int_004_async_parity.py
  tests/test_integration.py
  tests/test_outdated_handlers.py
  versiontracker/cli.py
  versiontracker/export.py
  versiontracker/handlers/app_handlers.py
  versiontracker/handlers/brew_handlers.py
  versiontracker/handlers/export_handlers.py
  versiontracker/handlers/outdated_handlers.py
  versiontracker/handlers/setup_handlers.py
  versiontracker/handlers/utils_handlers.py
  versiontracker/version/batch.py
Due: check-todos

fix: wire dead CLI options and eliminate export-stdout corruption (#256)
  CHANGELOG.md
  tests/handlers/test_app_handlers.py
  tests/handlers/test_brew_handlers_coverage.py
  tests/handlers/test_export_handlers.py
  tests/handlers/test_setup_handlers.py
  tests/handlers/test_utils_handlers.py
  tests/integration/test_cli_workflows.py
  tests/test_cli.py
  tests/test_export.py
  tests/test_int_002_recommendation.py
  tests/test_int_003_matching.py
  tests/test_int_004_async_parity.py
  tests/test_integration.py
  tests/test_outdated_handlers.py
  versiontracker/cli.py
  versiontracker/export.py
  versiontracker/handlers/app_handlers.py
  versiontracker/handlers/brew_handlers.py
  versiontracker/handlers/export_handlers.py
  versiontracker/handlers/outdated_handlers.py
  versiontracker/handlers/setup_handlers.py
  versiontracker/handlers/utils_handlers.py
  versiontracker/version/batch.py
Due: check-todos

fix: pin mypy config-file explicitly to close local/CI divergence
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  pyproject.toml
Due: none

fix: pin mypy config-file explicitly to close local/CI divergence (#257)
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  pyproject.toml
Due: none

fix: restore real enforcement to the security CI gate
  .github/workflows/security.yml
  CHANGELOG.md
Due: none

fix: restore real enforcement to the security CI gate (#258)
  .github/workflows/security.yml
  CHANGELOG.md
Due: none

fix: regenerate dependency lock files from isolated venvs, not ambient freeze
  CHANGELOG.md
  requirements-dev.lock
  requirements-prod.lock
  requirements.lock
  scripts/update_dependencies.py
Due: check-todos

fix: regenerate dependency lock files from isolated venvs, not ambient freeze (#259)
  CHANGELOG.md
  requirements-dev.lock
  requirements-prod.lock
  requirements.lock
  scripts/update_dependencies.py
Due: check-todos

fix: repair launchd notification delivery and plist XML escaping
  CHANGELOG.md
  tests/handlers/test_macos_handlers.py
  tests/integration/test_cli_workflows.py
  tests/test_cli.py
  tests/test_macos_integration.py
  tests/test_outdated_handlers.py
  versiontracker/cli.py
  versiontracker/handlers/macos_handlers.py
  versiontracker/handlers/outdated_handlers.py
  versiontracker/macos_integration.py
Due: check-todos

fix: repair launchd notification delivery and plist XML escaping (#260)
  CHANGELOG.md
  tests/handlers/test_macos_handlers.py
  tests/integration/test_cli_workflows.py
  tests/test_cli.py
  tests/test_macos_integration.py
  tests/test_outdated_handlers.py
  versiontracker/cli.py
  versiontracker/handlers/macos_handlers.py
  versiontracker/handlers/outdated_handlers.py
  versiontracker/macos_integration.py
Due: check-todos

fix: reconcile stale docs/release metadata and two live code bugs
  .github/CI_CD_GUIDE.md
  .github/workflows/coverage.yml
  CHANGELOG.md
  CONTRIBUTING.md
  PUBLISHING.md
  README.md
  SECURITY.md
  TODO.md
  pyproject.toml
  tests/handlers/test_backup_handlers.py
  tests/test_main.py
  tests/test_ml_module.py
  versiontracker/__main__.py
  versiontracker/handlers/backup_handlers.py
  versiontracker/ml/__init__.py
Due: check-todos

fix: reconcile stale docs/release metadata and two live code bugs (#261)
  .github/CI_CD_GUIDE.md
  .github/workflows/coverage.yml
  CHANGELOG.md
  CONTRIBUTING.md
  PUBLISHING.md
  README.md
  SECURITY.md
  TODO.md
  pyproject.toml
  tests/handlers/test_backup_handlers.py
  tests/test_main.py
  tests/test_ml_module.py
  versiontracker/__main__.py
  versiontracker/handlers/backup_handlers.py
  versiontracker/ml/__init__.py
Due: check-todos

fix: use pytest tmp_path fixture in TestUsageAnalyzer instead of shared /tmp dir
  tests/test_ml_module.py
Due: check-todos

fix: redirect filter_out_brews() progress print to stderr
  tests/integration/test_cli_workflows.py
  versiontracker/apps/matcher.py
Due: check-todos

fix: annotate types in bump_version.py and validate_ci_precommit.py
  bump_version.py
  tools/validate_ci_precommit.py
Due: check-todos

fix: use pytest tmp_path fixture in TestUsageAnalyzer instead of shared /tmp dir (#262)
  tests/test_ml_module.py
Due: check-todos

fix: redirect filter_out_brews() progress print to stderr (#263)
  tests/integration/test_cli_workflows.py
  versiontracker/apps/matcher.py
Due: check-todos

fix: annotate types in bump_version.py and validate_ci_precommit.py (#264)
  bump_version.py
  tools/validate_ci_precommit.py
Due: check-todos

fix: use pytest tmp_path fixture in TestMatchingConfidenceModel
  tests/test_ml_module.py
Due: check-todos

fix: simplify tomllib import and drop dead tool_name parameter in validate_ci_precommit.py
  tools/validate_ci_precommit.py
Due: check-todos

fix: use pytest tmp_path fixture in TestMatchingConfidenceModel (#265)
  tests/test_ml_module.py
Due: check-todos

fix: simplify tomllib import and drop dead tool_name parameter in validate_ci_precommit.py (#266)
  tools/validate_ci_precommit.py
Due: check-todos

chore: release v1.2.0
  CHANGELOG.md
  README.md
  bump_version.py
  pyproject.toml
  versiontracker/__init__.py
Due: check-todos, check-version-consistency

chore: release v1.2.0 (#267)
  CHANGELOG.md
  README.md
  bump_version.py
  pyproject.toml
  versiontracker/__init__.py
Due: check-todos, check-version-consistency

fix(ci): ignore unfixable nltk CVE in pip-audit gate
  .github/workflows/security.yml
Due: none

fix(ci): ignore unfixable nltk CVE in pip-audit gate (#284)
  .github/workflows/security.yml
Due: none

fix(ci): promote performance baseline only on successful runs
  .github/workflows/performance.yml
  CHANGELOG.md
  tests/test_project_consistency.py
Due: check-todos

Update .github/workflows/performance.yml
  .github/workflows/performance.yml
Due: none

fix(ci): promote performance baseline only on successful runs (#310)
  .github/workflows/performance.yml
  CHANGELOG.md
  tests/test_project_consistency.py
Due: check-todos

fix(ci): drop Safety scanner to unblock required Security Analysis check
  .claude/README.md
  .claude/hooks.json
  .github/CI_CD_GUIDE.md
  .github/dependabot.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  constraints.txt
  docs/CLAUDE_HOOKS_SETUP.md
  pyproject.toml
Due: none

fix(ci): drop Safety scanner to unblock required Security Analysis check (#316)
  .claude/README.md
  .claude/hooks.json
  .github/CI_CD_GUIDE.md
  .github/dependabot.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  constraints.txt
  docs/CLAUDE_HOOKS_SETUP.md
  pyproject.toml
Due: none

chore(deps): drop unused black dev dependency
  .github/dependabot.yml
  CHANGELOG.md
  README.md
  constraints.txt
  docs/TESTING_STRATEGY.md
  pyproject.toml
  requirements-dev.lock
  requirements-dev.txt
Due: none

fix(ci): stop tee from masking test failures; make rate-limit tests brew-independent
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  CHANGELOG.md
  tests/test_finder_new_coverage.py
  tests/test_project_consistency.py
Due: check-todos

chore(deps): drop unused black dev dependency (#319)
  .github/dependabot.yml
  CHANGELOG.md
  README.md
  constraints.txt
  docs/TESTING_STRATEGY.md
  pyproject.toml
  requirements-dev.lock
  requirements-dev.txt
Due: none

fix(deps): regenerate prod lock to clear multidict CVE-2026-104874
  CHANGELOG.md
  requirements-prod.lock
Due: none

fix(ci): stop tee from masking test failures; make rate-limit tests brew-independent (#320)
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  CHANGELOG.md
  tests/test_finder_new_coverage.py
  tests/test_project_consistency.py
Due: check-todos

fix(deps): regenerate prod lock to clear multidict CVE-2026-104874 (#321)
  CHANGELOG.md
  requirements-prod.lock
Due: none
