Repository docdyhr/versiontracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-todos, check-version-consistency

check-todos:
  name: Check for TODO/FIXME comments
  ...

check-version-consistency:
  name: Check version consistency
  entry: python
  args:
  - -c
  ...

fix: temporarily disable mypy and adjust coverage thresholds to unblock CI
  .coveragerc
  .github/verify_badges.py
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  pytest.xml
  requirements-dev.txt
Due: check-todos

docs: add comprehensive CI/CD fix status report
  CI_FIX_STATUS.md
Due: none

Improve test coverage and fix critical diagnostic issues
  tests/test_apps_coverage.py
  tests/test_outdated_handlers.py
  tests/test_utils_comprehensive.py
  tests/test_version_comprehensive.py
  versiontracker/version.py
Due: check-todos

Fix test failures in apps.py module. Improve error handling in Homebrew-related functions and future result handling
  tests/test_apps.py
  tests/test_apps_extra.py
  versiontracker/apps.py
Due: check-todos

refactor: major technical debt cleanup and code quality improvements
  CHANGELOG.md
  TODO.md
  tests/test_apps_coverage.py
  tests/test_outdated_handlers.py
  tests/test_utils_comprehensive.py
  tests/test_version_comprehensive.py
  versiontracker/handlers/outdated_handlers.py
  versiontracker/profiling.py
  versiontracker/version.py
Due: check-todos

Fix all failing tests: mock configuration, async event loops, cache handling, and rate limiting
  tests/test_apps_new.py
  tests/test_async_integration.py
  tests/test_brew_candidates.py
  tests/test_export.py
  tests/test_integration.py
  tests/test_parameterized_edge_cases.py
  tests/test_parameterized_version.py
  tests/test_utils_comprehensive.py
  tests/test_version_comprehensive.py
  versiontracker/apps.py
  versiontracker/async_network.py
  versiontracker/handlers/outdated_handlers.py
  versiontracker/utils.py
Due: check-todos

Fix version parsing and lazy imports
  versiontracker/__init__.py
  versiontracker/ui.py
  versiontracker/version.py
Due: check-todos, check-version-consistency

refactor: major technical debt cleanup and modernization
  CHANGELOG.md
  pyproject.toml
  requirements.txt
  setup.py
  versiontracker/ui.py
  versiontracker/version.py
Due: check-todos

fix: resolve critical test failures and syntax errors
  tests/test_apps.py
  tests/test_apps_coverage.py
  tests/test_parameterized_edge_cases.py
  tests/test_version.py
  versiontracker/version.py
Due: check-todos

chore: enhance CI/CD pipeline with updated pre-commit hooks and comprehensive testing infrastructure
  .pre-commit-config.yaml
  .secrets.baseline
  BADGE_FIXES.md
  CI_FIX_STATUS.md
  TESTING.md
  WORKFLOW_FIX_SUMMARY.md
  debug_difference.py
  docs/test_coverage_strategy.md
  pytest.xml
  test_debug.py
  tests/handlers/test_app_handlers.py
  tests/test_apps.py
  tests/test_apps_coverage_converted.py
  tests/test_apps_new.py
  tests/test_apps_new_pytest.py
  tests/test_async_integration.py
  tests/test_brew_candidates.py
  tests/test_export.py
  tests/test_integration.py
  tests/test_network_operations.py
  tests/test_outdated_handlers.py
  tests/test_ui.py
  tests/test_ui_enhanced.py
  tests/test_ui_new.py
  tests/test_utils_comprehensive.py
  tests/test_version_comprehensive.py
  versiontracker/apps.py
  versiontracker/handlers/outdated_handlers.py
  versiontracker/profiling.py
  versiontracker/ui.py
  versiontracker/utils.py
  versiontracker/version.py
Due: check-todos

feat: improve MyPy type checking compliance
  versiontracker/apps.py
  versiontracker/async_homebrew.py
  versiontracker/async_network.py
  versiontracker/ui.py
  versiontracker/utils.py
  versiontracker/version.py
Due: check-todos

chore: re-enable MyPy type checking in CI workflows with enhanced compliance
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  pytest.xml
  versiontracker/utils.py
Due: check-todos

fix: resolve critical test failures and CI/CD pipeline issues
  .coveragerc
  .github/CI_CD_GUIDE.md
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .markdownlint.json
  .vscode/settings.json
  CI_CD_IMPROVEMENTS.md
  FINAL_BADGE_STATUS.md
  IMPROVEMENTS.md
  README.md
  RELEASE.md
  bandit.yaml
  codecov.yml
  debug_difference.py
  pytest.xml
  sample_config.yaml
  test_debug.py
  tests/test_ui.py
  tests/test_ui_new.py
  tools/docstring_analyzer.py
  versiontracker/apps.py
  versiontracker/async_homebrew.py
  versiontracker/handlers/README.md
  versiontracker/ui.py
  versiontracker/utils.py
  versiontracker/version.py
Due: check-todos

fix: improve version parsing for long versions and build metadata
  versiontracker/version.py
Due: check-todos

feat: significantly improve test coverage and optimize CI/CD for macOS
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  README.md
  pyproject.toml
  tests/test_parameterized_edge_cases.py
  tests/test_parameterized_version.py
  tests/test_version.py
  tests/test_version_comprehensive.py
  versiontracker/version.py
Due: check-todos

refactor: address technical debt and improve code quality
  .github/workflows/ci.yml
  pyproject.toml
  requirements.txt
  tests/handlers/test_app_handlers.py
  tests/test_apps_coverage.py
  tests/test_async_homebrew.py
  tests/test_parameterized_edge_cases.py
  tests/test_version_comprehensive.py
  versiontracker/__main__.py
  versiontracker/advanced_cache.py
  versiontracker/async_homebrew.py
  versiontracker/async_network.py
  versiontracker/profiling.py
  versiontracker/ui.py
  versiontracker/version.py
Due: check-todos

fix: repair broken async and integration tests
  tests/test_async_homebrew.py
  tests/test_async_network.py
  versiontracker/__main__.py
Due: check-todos

fix: resolve CI/CD pipeline failures and improve code quality
  .github/workflows/ci.yml
  .github/workflows/release.yml
  tests/test_apps_coverage.py
  tests/test_async_homebrew.py
  tests/test_async_integration.py
  tests/test_async_network.py
  versiontracker/apps.py
  versiontracker/handlers/outdated_handlers.py
  versiontracker/profiling.py
  versiontracker/version.py
Due: check-todos

fix: resolve test failures caused by coverage requirement in individual test runs
  mypy-report.xml
  pytest.ini
  tests/mock_aiohttp_session.py
  versiontracker/handlers/outdated_handlers.py
  versiontracker/profiling.py
  versiontracker/version.py
Due: check-todos

refactor: enhance test suite quality and fix critical test issues
  tests/mock_homebrew_server.py
  tests/test_async_homebrew.py
  tests/test_async_integration.py
  tests/test_config.py
  tests/test_ui.py
  tests/test_ui_enhanced.py
  tests/test_ui_new.py
  versiontracker/async_homebrew.py
Due: check-todos

feat: enhance test suite and achieve 71% coverage target
  pytest.xml
  tests/test_profiling.py
  tests/test_ui.py
  tests/test_ui_new.py
  tests/test_utils.py
Due: check-todos

fix: resolve type checking errors and improve code quality
  versiontracker/advanced_cache.py
  versiontracker/config.py
  versiontracker/export.py
  versiontracker/homebrew.py
  versiontracker/profiling.py
  versiontracker/version.py
Due: check-todos

fix: resolve linting errors and improve code quality standards
  bandit.yaml
  versiontracker/apps.py
  versiontracker/async_network.py
  versiontracker/handlers/brew_handlers.py
  versiontracker/handlers/setup_handlers.py
  versiontracker/profiling.py
  versiontracker/ui.py
Due: check-todos

chore: standardize Python version and improve project consistency
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  README.md
  constraints.txt
  pyproject.toml
  tests/test_project_consistency.py
Due: check-todos

fix: remove package extras from constraints.txt
  constraints.txt
Due: none

fix: resolve dependency conflicts in constraints and requirements
  constraints.txt
  requirements-dev.txt
Due: none

fix: resolve linting and type checking errors across codebase
  versiontracker/__main__.py
  versiontracker/apps.py
  versiontracker/async_network.py
  versiontracker/handlers/outdated_handlers.py
  versiontracker/handlers/utils_handlers.py
  versiontracker/profiling.py
  versiontracker/utils.py
Due: check-todos

chore: update pytest results after successful test run
  pytest.xml
Due: none

fix: resolve CI/CD packaging issues
  assets/images/logo.png
  pyproject.toml
  tmp_test/custom_config.yaml
  tmp_test/new_config.yaml
  tmp_test/test_config.yaml
Due: none

fix: resolve remaining CI/CD issues
  .github/workflows/ci.yml
  tests/test_cache.py
  tests/test_ui_new.py
Due: check-todos

fix: add missing pytest-asyncio and anyio dependencies for CI
  constraints.txt
  requirements-dev.txt
Due: none

fix: correct logo path in README.md
  README.md
Due: none

fix: resolve remaining CI test failures
  tests/test_project_consistency.py
  tests/test_ui.py
  tests/test_ui_new.py
Due: check-todos

fix: skip environment-dependent UI tests to resolve CI badge status
  tests/test_ui.py
  tests/test_ui_new.py
Due: check-todos

fix: skip final edge case UI tests for consistent CI badge status
  tests/test_ui.py
Due: check-todos

feat: comprehensive code review and CI/CD compatibility improvements
  .pre-commit-config.yaml
  CI_PRECOMMIT_COMPATIBILITY.md
  CODE_REVIEW_SUMMARY.md
  constraints.txt
  mypy-report.xml
  requirements-dev.txt
  tools/validate_ci_precommit.py
  versiontracker/export.py
  versiontracker/profiling.py
  versiontracker/ui.py
Due: check-todos

feat: complete CI/CD pipeline overhaul and type safety restoration
  .github/verify_badges.py
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  CICD_FIX_EXECUTIVE_SUMMARY.md
  CI_CD_PIPELINE_FIX_COMPLETE.md
  bump_version.py
  debug_difference.py
  versiontracker/ui.py
  versiontracker/version.py
Due: check-todos

fix: resolve MyPy config file path issues in CI workflows
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
Due: none

refactor: major technical debt cleanup and CI/CD pipeline fixes
  .coveragerc
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .pre-commit-config.yaml
  TECHNICAL_DEBT_CLEANUP_2024.md
  TODO.md
  bandit.yaml
  pyproject.toml
  pytest.ini
  pytest.xml
  versiontracker/__main__.py
  versiontracker/version.py
Due: check-todos

feat: upgrade CI/CD pipeline to Python 3.10+ and optimize workflows
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .pre-commit-config.yaml
  CI_CD_PIPELINE_UPGRADE_2024.md
  README.md
  pyproject.toml
  pytest.xml
Due: none

Path conditions:
  check-todos: any of: \.py$
  check-version-consistency: any of: ^versiontracker/__init__.py$
