Repository docdyhr/versiontracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-todos, check-version-consistency

check-todos:
  name: Check for TODO/FIXME comments
  ...

check-version-consistency:
  name: Check version consistency
  entry: python
  args:
  - -c
  ...

docs: reconcile metrics, fix skip table, add Known Limitations (#193)
  .github/workflows/release-homebrew.yml
  CHANGELOG.md
  README.md
  TODO.md
Due: none

feat: complete P4 exception narrowing and document ML/experimental features (#194)
  CHANGELOG.md
  README.md
  TODO.md
  tests/handlers/test_app_handlers.py
  tests/handlers/test_config_handlers.py
  tests/handlers/test_filter_handlers.py
  tests/handlers/test_setup_handlers.py
  versiontracker/handlers/app_handlers.py
  versiontracker/handlers/config_handlers.py
  versiontracker/handlers/filter_handlers.py
  versiontracker/handlers/setup_handlers.py
Due: check-todos

feat: integration tests, perf regression gate, 85% coverage threshold (#195)
  .github/workflows/coverage.yml
  .github/workflows/performance.yml
  CHANGELOG.md
  CONTRIBUTING.md
  scripts/compare_performance.py
  tests/integration/__init__.py
  tests/integration/test_cli_workflows.py
  versiontracker/handlers/config_handlers.py
Due: check-todos

test: mock get_config in integration tests to isolate from user config
  tests/integration/test_cli_workflows.py
  tests/test_integration.py
Due: check-todos

test: mock get_config in integration tests to isolate from user config (#196)
  tests/integration/test_cli_workflows.py
  tests/test_integration.py
Due: check-todos

fix(ci): correct performance test CLI flag and harden regression gate
  scripts/compare_performance.py
  scripts/performance_test.py
Due: check-todos

fix(ci): correct performance test CLI flag and harden regression gate (#208)
  scripts/compare_performance.py
  scripts/performance_test.py
Due: check-todos

fix(ci): stop performance baseline from ratcheting on failure
  .github/workflows/performance.yml
  scripts/compare_performance.py
Due: check-todos

docs: changelog entry for performance baseline ratchet fix
  CHANGELOG.md
Due: none

fix(ci): don't overwrite baseline with partial workflow_dispatch runs
  .github/workflows/performance.yml
Due: none

fix(ci): stop Performance Testing baseline from ratcheting on failure (#222)
  .github/workflows/performance.yml
  CHANGELOG.md
  scripts/compare_performance.py
Due: check-todos

fix(ci): use canonical tap name in release-homebrew.yml trust check
  .github/workflows/release-homebrew.yml
Due: none

refactor(ci): address Sourcery review feedback on release-homebrew.yml
  .github/workflows/release-homebrew.yml
Due: none

fix(lint): pin ruff version and reformat drifted docs code blocks
  CONTRIBUTING.md
  docs/ARCHITECTURE.md
  docs/PYTHON313_SUPPORT.md
  docs/TESTING.md
  docs/TESTING_STRATEGY.md
  docs/api.md
  docs/future_roadmap.md
  pyproject.toml
  requirements-dev.txt
  requirements-py313.txt
Due: none

fix(ci): resolve Homebrew tap-trust failure in release-homebrew.yml (#223)
  .github/workflows/release-homebrew.yml
  CONTRIBUTING.md
  docs/ARCHITECTURE.md
  docs/PYTHON313_SUPPORT.md
  docs/TESTING.md
  docs/TESTING_STRATEGY.md
  docs/api.md
  docs/future_roadmap.md
  pyproject.toml
  requirements-dev.txt
  requirements-py313.txt
Due: none

feat(audit): add unmanaged application audit engine
  tests/audit/__init__.py
  tests/audit/conftest.py
  tests/audit/test_auto_update.py
  tests/audit/test_blocklist.py
  tests/audit/test_discovery.py
  tests/audit/test_golden_fixture.py
  tests/audit/test_homebrew.py
  tests/audit/test_models.py
  tests/audit/test_rendering.py
  tests/audit/test_service.py
  versiontracker/audit/__init__.py
  versiontracker/audit/auto_update.py
  versiontracker/audit/blocklist.py
  versiontracker/audit/discovery.py
  versiontracker/audit/homebrew.py
  versiontracker/audit/models.py
  versiontracker/audit/rendering.py
  versiontracker/audit/service.py
Due: check-todos

feat(cli): wire up versiontracker --audit command
  tests/handlers/test_audit_handlers.py
  tests/integration/test_cli_workflows.py
  tests/test_cli.py
  tests/test_cli_auto_updates.py
  tests/test_main.py
  versiontracker/__main__.py
  versiontracker/cli.py
  versiontracker/handlers/__init__.py
  versiontracker/handlers/audit_handlers.py
Due: check-todos

fix: correct obsolete --outdated flag in menubar and scheduled-service commands
  tests/handlers/test_macos_handlers.py
  tests/test_menubar_app.py
  versiontracker/handlers/macos_handlers.py
  versiontracker/menubar_app.py
Due: check-todos

test: replace misleading strict_mode test with one that pins real behavior
  tests/test_matcher_coverage.py
Due: check-todos

docs: document versiontracker --audit and fix stale --outdated references
  CHANGELOG.md
  README.md
  TODO.md
  docs/ARCHITECTURE.md
  docs/AUTO_UPDATE_MANAGEMENT.md
  docs/USAGE.md
Due: none

feat: add versiontracker --audit (unmanaged application audit) (#224)
  CHANGELOG.md
  README.md
  TODO.md
  docs/ARCHITECTURE.md
  docs/AUTO_UPDATE_MANAGEMENT.md
  docs/USAGE.md
  tests/audit/__init__.py
  tests/audit/conftest.py
  tests/audit/test_auto_update.py
  tests/audit/test_blocklist.py
  tests/audit/test_discovery.py
  tests/audit/test_golden_fixture.py
  tests/audit/test_homebrew.py
  tests/audit/test_models.py
  tests/audit/test_rendering.py
  tests/audit/test_service.py
  tests/handlers/test_audit_handlers.py
  tests/handlers/test_macos_handlers.py
  tests/integration/test_cli_workflows.py
  tests/test_cli.py
  tests/test_cli_auto_updates.py
  tests/test_main.py
  tests/test_matcher_coverage.py
  tests/test_menubar_app.py
  versiontracker/__main__.py
  versiontracker/audit/__init__.py
  versiontracker/audit/auto_update.py
  versiontracker/audit/blocklist.py
  versiontracker/audit/discovery.py
  versiontracker/audit/homebrew.py
  versiontracker/audit/models.py
  versiontracker/audit/rendering.py
  versiontracker/audit/service.py
  versiontracker/cli.py
  versiontracker/handlers/__init__.py
  versiontracker/handlers/audit_handlers.py
  versiontracker/handlers/macos_handlers.py
  versiontracker/menubar_app.py
Due: check-todos

docs: add AGENTS.md repository guidelines for AI coding agents
  AGENTS.md
Due: none

docs: add AGENTS.md repository guidelines for AI coding agents (#234)
  AGENTS.md
Due: none

chore: release v1.1.0
  CHANGELOG.md
  pyproject.toml
  versiontracker/__init__.py
Due: check-todos, check-version-consistency

chore: release v1.1.0 (#236)
  CHANGELOG.md
  pyproject.toml
  versiontracker/__init__.py
Due: check-todos, check-version-consistency

fix: mock system_profiler correctly in test_integration.py
  tests/test_integration.py
Due: check-todos

fix: mock system_profiler correctly in test_integration.py (#237)
  tests/test_integration.py
Due: check-todos

chore: bump pre-commit hooks and fix newly surfaced ruff/mypy lint errors
  .pre-commit-config.yaml
  CHANGELOG.md
  scripts/test_python313.py
  scripts/update_dependencies.py
Due: check-todos

chore: bump pre-commit hooks and fix newly surfaced ruff/mypy lint errors (#249)
  .pre-commit-config.yaml
  CHANGELOG.md
  scripts/test_python313.py
  scripts/update_dependencies.py
Due: check-todos

feat: add --ask natural-language command (Phase 6, NLP portion)
  CHANGELOG.md
  README.md
  TODO.md
  docs/ARCHITECTURE.md
  docs/USAGE.md
  tests/handlers/test_ai_handlers.py
  tests/integration/test_cli_workflows.py
  tests/test_ai_module.py
  tests/test_cli_auto_updates.py
  versiontracker/__main__.py
  versiontracker/ai/__init__.py
  versiontracker/cli.py
  versiontracker/handlers/__init__.py
  versiontracker/handlers/ai_handlers.py
Due: check-todos

test: cover ai_handlers.py's defensive/error branches
  tests/handlers/test_ai_handlers.py
Due: check-todos

feat: add --ask natural-language command (Phase 6, NLP portion) (#250)
  CHANGELOG.md
  README.md
  TODO.md
  docs/ARCHITECTURE.md
  docs/USAGE.md
  tests/handlers/test_ai_handlers.py
  tests/integration/test_cli_workflows.py
  tests/test_ai_module.py
  tests/test_cli_auto_updates.py
  versiontracker/__main__.py
  versiontracker/ai/__init__.py
  versiontracker/cli.py
  versiontracker/handlers/__init__.py
  versiontracker/handlers/ai_handlers.py
Due: check-todos

fix(security): eliminate AppleScript injection in notifications and menubar
  CHANGELOG.md
  tests/test_macos_integration.py
  tests/test_menubar_app.py
  versiontracker/macos_integration.py
  versiontracker/menubar_app.py
  versiontracker/utils.py
Due: check-todos

fix(security): eliminate AppleScript injection in notifications and menubar (#251)
  CHANGELOG.md
  tests/test_macos_integration.py
  tests/test_menubar_app.py
  versiontracker/macos_integration.py
  versiontracker/menubar_app.py
  versiontracker/utils.py
Due: check-todos

fix: make --config PATH actually select the requested configuration
  CHANGELOG.md
  tests/handlers/test_setup_handlers.py
  tests/test_auto_update_integration_flows.py
  tests/test_cli_auto_updates.py
  tests/test_main.py
  versiontracker/__main__.py
  versiontracker/handlers/setup_handlers.py
Due: check-todos

fix: make --config PATH actually select the requested configuration (#252)
  CHANGELOG.md
  tests/handlers/test_setup_handlers.py
  tests/test_auto_update_integration_flows.py
  tests/test_cli_auto_updates.py
  tests/test_main.py
  versiontracker/__main__.py
  versiontracker/handlers/setup_handlers.py
Due: check-todos

fix: repair advanced disk-cache persistence and key collisions
  CHANGELOG.md
  tests/test_advanced_cache.py
  versiontracker/advanced_cache.py
Due: check-todos

fix: repair advanced disk-cache persistence and key collisions (#253)
  CHANGELOG.md
  tests/test_advanced_cache.py
  versiontracker/advanced_cache.py
Due: check-todos

fix: correct rate-limiting semantics across sync and async Homebrew paths
  CHANGELOG.md
  tests/handlers/test_brew_handlers_coverage.py
  tests/test_async_homebrew.py
  tests/test_async_network.py
  tests/test_brew_candidates.py
  tests/test_cli.py
  tests/test_finder_new_coverage.py
  versiontracker/apps/finder.py
  versiontracker/async_homebrew.py
  versiontracker/async_network.py
  versiontracker/cli.py
  versiontracker/handlers/brew_handlers.py
  versiontracker/utils.py
Due: check-todos

Path conditions:
  check-todos: any of: \.py$
  check-version-consistency: any of: ^versiontracker/__init__.py$
