Repository docdyhr/versiontracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-todos, check-version-consistency

check-todos:
  name: Check for TODO/FIXME comments
  ...

check-version-consistency:
  name: Check version consistency
  entry: python
  args:
  - -c
  ...

CI: run Security workflow on all PRs (remove paths filters)
  .github/workflows/security.yml
Due: none

CI: add pytest retry on exit code 2 to stabilize flaky teardown interrupts
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
Due: none

CI: stabilize pytest by retrying on exit 2 (#43)
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
Due: none

deps: align coverage tooling stack
  pyproject.toml
  requirements-dev.lock
  requirements-dev.txt
  requirements-prod.lock
  requirements-py313.txt
  requirements.lock
Due: none

docs: add comprehensive project review and enhance README badges
  CHANGELOG.md
  PROJECT_REVIEW.md
  README.md
Due: none

fix: align workflow names with repository ruleset requirements
  .github/workflows/lint.yml
  .github/workflows/security.yml
Due: none

docs: Add comprehensive project review and enhance README badges (#49)
  .github/workflows/lint.yml
  .github/workflows/security.yml
  CHANGELOG.md
  PROJECT_REVIEW.md
  README.md
Due: none

deps: Add pytest-asyncio, tabulate, and aiohttp dependencies
  requirements-dev.txt
  requirements.txt
Due: none

fix: Update network test imports to use version_legacy module
  tests/test_network_operations.py
Due: check-todos

feat: Add comprehensive test timeout configuration and testing guidelines
  docs/TESTING.md
  pytest.ini
  tests/test_network_operations.py
Due: check-todos

feat: Comprehensive AI-Powered VersionTracker Platform v0.8.0
  .github/workflows/advanced-ci.yml
  .github/workflows/dependabot-auto-merge.yml
  FINAL_IMPLEMENTATION_GUIDE.md
  IMPLEMENTATION_SUMMARY.md
  docs/api.md
  docs/future_roadmap.md
  gui/VersionTrackerApp.swift
  tests/test_end_to_end_integration.py
  versiontracker/ai/__init__.py
  versiontracker/analytics.py
  versiontracker/benchmarks.py
  versiontracker/commands/__init__.py
  versiontracker/commands/list_apps.py
  versiontracker/commands/recommendations.py
  versiontracker/enhanced_matching.py
  versiontracker/error_codes.py
  versiontracker/exceptions.py
  versiontracker/handlers/outdated_handlers.py
  versiontracker/ml/__init__.py
  versiontracker/plugins/__init__.py
  versiontracker/plugins/example_plugins.py
  versiontracker/version/__init__.py
  versiontracker/version_legacy.py
Due: check-todos

fix: Update end-to-end integration tests for correct function names
  tests/test_end_to_end_integration.py
Due: check-todos

fix: Skip end-to-end integration tests on non-macOS platforms
  tests/test_end_to_end_integration.py
Due: check-todos

fix: Resolve linting, type checking, and docstring issues
  versiontracker/exceptions.py
  versiontracker/plugins/__init__.py
  versiontracker/plugins/example_plugins.py
  versiontracker/version/__init__.py
Due: check-todos

fix: Temporarily exclude AI/ML modules from strict mypy checking
  pyproject.toml
Due: none

test: Skip failing end-to-end tests temporarily
  tests/test_end_to_end_integration.py
Due: check-todos

test: Skip 2 more failing end-to-end tests with import issues
  tests/test_end_to_end_integration.py
Due: check-todos

feat: AI-Powered VersionTracker Platform v0.8.0 - Complete Transformation
  .github/workflows/advanced-ci.yml
  .github/workflows/dependabot-auto-merge.yml
  FINAL_IMPLEMENTATION_GUIDE.md
  IMPLEMENTATION_SUMMARY.md
  docs/TESTING.md
  docs/api.md
  docs/future_roadmap.md
  gui/VersionTrackerApp.swift
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  tests/test_end_to_end_integration.py
  tests/test_network_operations.py
  versiontracker/ai/__init__.py
  versiontracker/analytics.py
  versiontracker/benchmarks.py
  versiontracker/commands/__init__.py
  versiontracker/commands/list_apps.py
  versiontracker/commands/recommendations.py
  versiontracker/enhanced_matching.py
  versiontracker/error_codes.py
  versiontracker/exceptions.py
  versiontracker/handlers/outdated_handlers.py
  versiontracker/ml/__init__.py
  versiontracker/plugins/__init__.py
  versiontracker/plugins/example_plugins.py
  versiontracker/version_legacy.py
Due: check-todos

feat: AI-Powered VersionTracker Platform v0.8.0 - Complete Transformation (#51)
  .github/workflows/advanced-ci.yml
  .github/workflows/dependabot-auto-merge.yml
  FINAL_IMPLEMENTATION_GUIDE.md
  IMPLEMENTATION_SUMMARY.md
  docs/TESTING.md
  docs/api.md
  docs/future_roadmap.md
  gui/VersionTrackerApp.swift
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  tests/test_end_to_end_integration.py
  tests/test_network_operations.py
  versiontracker/ai/__init__.py
  versiontracker/analytics.py
  versiontracker/benchmarks.py
  versiontracker/commands/__init__.py
  versiontracker/commands/list_apps.py
  versiontracker/commands/recommendations.py
  versiontracker/enhanced_matching.py
  versiontracker/error_codes.py
  versiontracker/exceptions.py
  versiontracker/handlers/outdated_handlers.py
  versiontracker/ml/__init__.py
  versiontracker/plugins/__init__.py
  versiontracker/plugins/example_plugins.py
  versiontracker/version_legacy.py
Due: check-todos

chore(release): bump version to 0.8.0 with AI transformation features
  CHANGELOG.md
  README.md
  TODO.md
  pyproject.toml
  versiontracker/__init__.py
Due: check-todos, check-version-consistency

docs: add comprehensive v0.8.0 release summary
  RELEASE_0.8.0_SUMMARY.md
Due: none

chore(release): Version 0.8.0 Release - AI Transformation
  CHANGELOG.md
  README.md
  RELEASE_0.8.0_SUMMARY.md
  TODO.md
  pyproject.toml
  versiontracker/__init__.py
Due: check-todos, check-version-consistency

docs: add release completion status tracking
  RELEASE_COMPLETION_STATUS.md
Due: none

docs: fix markdown linting in CI status report
  CI_CD_STATUS_REPORT.md
Due: none

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

fix: correct end-to-end integration test failures
  tests/test_end_to_end_integration.py
Due: check-todos

ci: fix Ubuntu test timeout issues
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
Due: none

docs: update TODO with current PR status and CI findings
  TODO.md
Due: none

ci: run Security Analysis on all PRs
  .github/workflows/security.yml
Due: none

fix: correct end-to-end integration test failures (#62)
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/security.yml
  RELEASE_COMPLETION_STATUS.md
  TODO.md
  tests/test_end_to_end_integration.py
Due: check-todos

docs: clean up README badges and fix CI/CD workflows (#63)
  .github/workflows/branch-protection.yml
  CI_CD_STATUS.md
  COMPLETION_SUMMARY.md
  README.md
  REPOSITORY_STATUS.md
Due: none

fix: resolve pytest-timeout cleanup hang with thread method (#64)
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  PYTEST_TIMEOUT_FIX.md
  pytest.ini
Due: none

release: bump version to 0.8.1
  CHANGELOG.md
  pyproject.toml
  versiontracker/__init__.py
Due: check-todos, check-version-consistency

Release v0.8.1 (#65)
  CHANGELOG.md
  pyproject.toml
  versiontracker/__init__.py
Due: check-todos, check-version-consistency

chore: remove temporary tracking files
  COMPLETION_SUMMARY.md
  RELEASE_COMPLETION_STATUS.md
Due: none

fix: handle KeyboardInterrupt in coverage tests
  .github/workflows/coverage.yml
Due: none

Path conditions:
  check-todos: any of: \.py$
  check-version-consistency: any of: ^versiontracker/__init__.py$
